<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2025/04/30の会議室</title>
</head>
<body>
	<h3>会議室</h3>
	<a th:href="@{'/rooms/' + ${date.minusDays(1)}}">前日</a>
	<span th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2025/04/30の会議室</span>
	<a th:href="@{'/rooms' + ${date.plusDays(1)}}">翌日</a>
	
	<ul>
		<li th:each="room : ${rooms}">
			<a th:href="@{'/reservations/' + ${date} + '/' + ${room.meetingRoom.roomId}}"
				th:text="${room.meetingRoom.roomName}"></a>
		</li>
	</ul>
	
	<table>
		<thead>
			<tr>
				<th>会議室名</th>
				<th>予約日</th>
				<th>会議室ID</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="room : ${rooms}">
	 	        <td th:text="${room.meetingRoom.roomName}"></td>
				<td th:text="${room.reservableRoomId.reservedDate}"></td>
				<td th:text="${room.reservableRoomId.roomId}"></td>
			</tr>
		</tbody>
	</table>
	
	
	<script th:inline="javascript">// <script>タグ内でThymeleafの式をJavaScript用に変換して埋め込む指定。
		// Thymeleaf上で特殊記号<>%'"を無視するため
	    /*<![CDATA[*/
	    var rooms = [[${rooms}]];// [[]]インライン式で使うとき自動でJSON化
	    console.log(JSON.stringify(rooms, null, 2)); 
	    /*]]>*/
	</script>

</body>
</html>